{% extends "base.html.twig" %}

{% block body %}
    <form method="post" action="/upload" id="upload_form">
        <textarea name="text" id="text" rows="10" cols="50" placeholder="Введите текст в формате JSON"></textarea><br>
        <input id="jsonfile" name="jsonfile" type="file" accept=".json, .txt" onchange="loadFileToTextArea();"/>
        <label for="jsonfile">(JSON, TXT)</label><br>
        <input type="checkbox" name="deleteAfterAccess"/> Удалить после первого доступа к файлу<br>
        <input type="checkbox" name="isSecure"/>Защитить ссылку паролем<br>
        <input id="submit_btn" type="submit" value="Загрузить"><br>
        <label id="error" hidden="true">Not valid JSON!</label>
    </form>
    <script>
        $('#upload_form').submit(function () {
            var inputText = $('#text').val();
            var res = isValidJSON(inputText);
            $('#error').attr("hidden", res);
            return res;
        });

        function loadFileToTextArea() {
            var fileToLoad = document.getElementById("jsonfile").files[0];
            var fileReader = new FileReader();
            fileReader.onload = function(fileLoadedEvent){
                var textFromFileLoaded = fileLoadedEvent.target.result;
                document.getElementById("text").value = textFromFileLoaded;
            };
            fileReader.readAsText(fileToLoad, "UTF-8");
        }
    </script>
{% endblock %}