{% extends "base.html.twig" %}

{% block body %}
    <form method="post" action="/upload" id="upload_form">
        <textarea name="text" id="text" rows="10" cols="50" placeholder="Введите текст в формате JSON"></textarea><br>
        <input id="jsonfile" name="jsonfile" type="file" accept=".json, .txt" onchange="loadFileToTextArea();"/>
        <label for="jsonfile">(JSON, TXT)</label><br>
        <input type="checkbox" name="isSecure"/>Защитить ссылку паролем<br>
        <input type="checkbox" name="deleteAfterAccess"/> Удалить после первого доступа к файлу<br>
        Срок хранения файла:
        <input type="range" name="days" id="days" min="1" max="30" value="7" onchange="updateDaysInput(this.value)">
        <label for="days" id="daysInput">7</label> дней
        <br>
        <input id="submit_btn" type="submit" value="Загрузить"><br>
        <label class="error" id="errorJSON" hidden=true>Не валидный JSON!</label><br>
        <label class="error" id="errorDateTime" hidden="true">Не валидная дата или время! Удаление можно настроить
             максимум на ближайшие 365 дней</label>
    </form>
    <script>
        $('#upload_form').submit(function () {
            var inputText = $('#text').val();
            var isValidJson = isValidJSON(inputText);
            $('#errorJSON').attr("hidden", isValidJson);
            return isValidJson;
        });

        function updateDaysInput(days) {
            $('#daysInput').text(days);
        }

        function loadFileToTextArea() {
            var fileToLoad = document.getElementById("jsonfile").files[0];
            var fileReader = new FileReader();
            fileReader.onload = function(fileLoadedEvent){
                var textFromFileLoaded = fileLoadedEvent.target.result;
                document.getElementById("text").value = textFromFileLoaded;
            };
            fileReader.readAsText(fileToLoad, "UTF-8");
        }
    </script>
{% endblock %}